[build]
  command = "npm run build"
  publish = "dist/client"

[[redirects]]
  from = "/changelog/rss"
  to = "/rss.xml"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
